In [23]:
import pandas as pd
import numpy as np
import math

In [24]:
# creating the Numpy array
array = np.array([
[1, 1, 0],
[2, 4, 0],
[3, 9, 1],
[4, 6, 1],
[4, 3, 0],
[7, 1, 0],
[4, 9, 1],
[0, 0, 0],
[1, 0, 0],
[2, 2, 0],
]).astype(float)

In [25]:
# creating a list of column names
column_values = ['x', 'y', 'sum>10']

In [26]:
# creating the dataframe
df = pd.DataFrame(
data = array,
columns = column_values
)

# displaying the dataframe
df

     x    y  sum>10
0  1.0  1.0     0.0
1  2.0  4.0     0.0
2  3.0  9.0     1.0
3  4.0  6.0     1.0
4  4.0  3.0     0.0
5  7.0  1.0     0.0
6  4.0  9.0     1.0
7  0.0  0.0     0.0
8  1.0  0.0     0.0
9  2.0  2.0     0.0

In [27]:
# setting up default clusters
clusters = []
for i in range(len(df)):
    cluster = [i]
    clusters.append(cluster)

clusters

[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9]]

In [31]:
# distance matrix
for i in range(len(df)):
    df[i] = round(((df['x']-df.loc[df.index[i], 'x'])**2 + (df['y']-df.loc[df.index[i], 'y'])**2)**0.5, 2)

df

,x,y,sum>10,0,1,2,3,4,5,6,...,9,10,11,12,13,14,15,16,17,18
0,1.000000,1.000000,0.0,0.00,3.16,8.25,5.83,3.61,6.00,8.54,...,1.41,8.38,0.50,0.75,0.25,7.49,0.45,0.94,1.54,3.08
1,2.000000,4.000000,0.0,3.16,0.00,5.10,2.83,2.24,5.83,5.39,...,2.00,5.22,3.64,3.90,3.40,4.33,2.72,2.36,2.47,0.94
2,3.000000,9.000000,1.0,8.25,5.10,0.00,3.16,6.08,8.94,1.00,...,7.07,0.50,8.73,8.98,8.49,1.20,7.81,7.45,7.45,5.50
3,4.000000,6.000000,1.0,5.83,2.83,3.16,0.00,3.00,5.83,3.00,...,4.47,3.04,6.26,6.57,6.05,2.03,5.39,4.92,4.70,2.77
4,4.000000,3.000000,0.0,3.61,2.24,6.08,3.00,0.00,3.61,6.00,...,2.24,6.02,3.91,4.27,3.75,5.01,3.22,2.69,2.12,1.30
5,7.000000,1.000000,0.0,6.00,5.83,8.94,5.83,3.61,0.00,8.54,...,5.10,8.73,6.02,6.37,6.01,7.75,5.81,5.37,4.61,4.89
6,4.000000,9.000000,1.0,8.54,5.39,1.00,3.00,6.00,8.54,0.00,...,7.28,0.50,9.01,9.29,8.78,1.05,8.10,7.70,7.59,5.63
7,0.000000,0.000000,0.0,1.41,4.47,9.49,7.21,5.00,7.07,9.85,...,2.83,9.66,1.12,0.75,1.25,8.80,1.84,2.36,2.89,4.48
8,1.000000,0.000000,0.0,1.00,4.12,9.22,6.71,4.24,6.08,9.49,...,2.24,9.34,0.50,0.47,0.75,8.43,1.41,1.80,2.12,3.94
9,2.000000,2.000000,0.0,1.41,2.00,7.07,4.47,2.24,5.10,7.28,...,0.00,7.16,1.80,2.13,1.60,6.23,1.00,0.47,0.61,1.70
10,3.500000,9.000000,1.0,8.38,5.22,0.50,3.04,6.02,8.73,0.50,...,7.16,0.00,8.86,9.12,8.62,1.01,7.94,7.56,7.51,5.54
11,1.000000,0.500000,0.0,0.50,3.64,8.73,6.26,3.91,6.02,9.01,...,1.80,8.86,0.00,0.37,0.25,7.96,0.92,1.34,1.79,3.50
12,0.666667,0.333333,0.0,0.75,3.90,8.98,6.57,4.27,6.37,9.29,...,2.13,9.12,0.37,0.00,0.53,8.23,1.19,1.67,2.15,3.82
13,1.000000,0.750000,0.0,0.25,3.40,8.49,6.05,3.75,6.01,8.78,...,1.60,8.62,0.25,0.53,0.00,7.72,0.68,1.13,1.65,3.29
14,3.666667,8.000000,1.0,7.49,4.33,1.20,2.03,5.01,7.75,1.05,...,6.23,1.01,7.96,8.23,7.72,0.00,7.05,6.64,6.55,4.58
15,1.200000,1.400000,0.0,0.45,2.72,7.81,5.39,3.22,5.81,8.10,...,1.00,7.94,0.92,1.19,0.68,7.05,0.00,0.54,1.24,2.64
16,1.666667,1.666667,0.0,0.94,2.36,7.45,4.92,2.69,5.37,7.70,...,0.47,7.56,1.34,1.67,1.13,6.64,0.54,0.00,0.77,2.16
17,2.428571,1.571429,0.0,1.54,2.47,7.45,4.70,2.12,4.61,7.59,...,0.61,7.51,1.79,2.15,1.65,6.55,1.24,0.77,0.00,1.96
18,2.800000,3.500000,0.0,3.08,0.94,5.50,2.77,1.30,4.89,5.63,...,1.70,5.54,3.50,3.82,3.29,4.58,2.64,2.16,1.96,0.00

In [29]:
merged_clusters = []

for iteration in range(len(df)-1):
    
    # finding minimum value
    min_val = 100
    min_x = 0
    min_y = 0

    print("DISTANCES")
    for i in range(len(df)):
        for j in range(len(df)):
            if (i > j):
                print('{0:.2f}'.format(df.loc[df.index[i], j]), end="\t")
                if (min_val > df.loc[df.index[i], j] and df.loc[df.index[i], j] > 0):
                    min_val = df.loc[df.index[i], j]
                    min_x = j
                    min_y = i
            else:
                print("-", end ="\t")
                df.loc[df.index[i], j] = 0
        print()
    print()

    print("minimum: ", min_val)
    print("merged cluster 1: ", clusters[min_x], " <= ", min_x)
    print("merged cluster 2: ", clusters[min_y], " <= ", min_y)
    print()
    
    merged_clusters.append(min_x)
    merged_clusters.append(min_y)

    # merging clusters
    new_cluster = []
    for c in clusters[min_x]:
        if c not in new_cluster:
            new_cluster.append(c)
    for c in clusters[min_y]:
        if c not in new_cluster:
            new_cluster.append(c)
    clusters.append(new_cluster)

    print("clusters List")
    print(clusters)


    # adding new cluster to dataframe
    new_x_sum = 0
    new_y_sum = 0
    count_0 = 0
    count_1 = 0

    for cluster in new_cluster:
        new_x_sum += df.loc[df.index[cluster], 'x']
        new_y_sum += df.loc[df.index[cluster], 'y']

        if(df.loc[df.index[cluster], 'sum>10'] == 0.0):
            count_0 += 1
        else:
            count_1 += 1

    new_target = 0
    if (count_0 > count_1):
        new_target = 0.0
    else:
        new_target = 1.0

    new_row = {'x':new_x_sum/len(new_cluster), 'y':new_y_sum/len(new_cluster), 'sum>10':new_target}
    df = df.append(new_row, ignore_index=True)

    for i in range(len(df)-1):
        df.loc[df.index[len(df)-1], i] = math.sqrt((df.loc[df.index[i], 'x']-df.loc[df.index[len(df)-1], 'x'])**2 + (df.loc[df.index[i], 'y']-df.loc[df.index[len(df)-1], 'y'])**2)

    df[len(df)-1] = 0.00000

    # removing previous clusters
    
    for cluster in merged_clusters:
        df[cluster] = 0
        for i in range(len(df)):
            df.loc[df.index[cluster], i] = 0

DISTANCES
-	-	-	-	-	-	-	-	-	-
10.00	-	-	-	-	-	-	-	-	-
68.00	26.00	-	-	-	-	-	-	-	-
34.00	8.00	10.00	-	-	-	-	-	-	-
13.00	5.00	37.00	9.00	-	-	-	-	-	-
36.00	34.00	80.00	34.00	13.00	-	-	-	-	-
73.00	29.00	1.00	9.00	36.00	73.00	-	-	-	-
2.00	20.00	90.00	52.00	25.00	50.00	97.00	-	-	-
1.00	17.00	85.00	45.00	18.00	37.00	90.00	1.00	-	-
2.00	4.00	50.00	20.00	5.00	26.00	53.00	8.00	5.00	-

minimum:  1.0
merged cluster 1:  [2]  <=  2
merged cluster 2:  [6]  <=  6

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-
10.00	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-
34.00	8.00	0.00	-	-	-	-	-	-	-	-
13.00	5.00	0.00	9.00	-	-	-	-	-	-	-
36.00	34.00	0.00	34.00	13.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
2.00	20.00	0.00	52.00	25.00	50.00	0.00	-	-	-	-
1.00	17.00	0.00	45.00	18.00	37.00	0.00	1.00	-	-	-
2.00	4.00	0.00	20.00	5.00	26.00	0.00	8.00	5.00	-	-
8.38	5.22	0.00	3.04	6.02	8.73	0.00	9.66	9.34	7.16	-

minimum:  1.0
merged cluster 1:  [0]  <=  0
merged cluster 2:  [8]  <=  8

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-
0.00	8.00	0.00	-	-	-	-	-	-	-	-	-
0.00	5.00	0.00	9.00	-	-	-	-	-	-	-	-
0.00	34.00	0.00	34.00	13.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	20.00	0.00	52.00	25.00	50.00	0.00	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-
0.00	4.00	0.00	20.00	5.00	26.00	0.00	8.00	0.00	-	-	-
0.00	5.22	0.00	3.04	6.02	8.73	0.00	9.66	0.00	7.16	-	-
0.00	3.64	0.00	6.26	3.91	6.02	0.00	1.12	0.00	1.80	8.86	-

minimum:  1.118033988749895
merged cluster 1:  [7]  <=  7
merged cluster 2:  [0, 8]  <=  11

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	8.00	0.00	-	-	-	-	-	-	-	-	-	-
0.00	5.00	0.00	9.00	-	-	-	-	-	-	-	-	-
0.00	34.00	0.00	34.00	13.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	4.00	0.00	20.00	5.00	26.00	0.00	0.00	0.00	-	-	-	-
0.00	5.22	0.00	3.04	6.02	8.73	0.00	0.00	0.00	7.16	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	3.90	0.00	6.57	4.27	6.37	0.00	0.00	0.00	2.13	9.12	0.00	-

minimum:  2.1343747458109497
merged cluster 1:  [9]  <=  9
merged cluster 2:  [7, 0, 8]  <=  12

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	8.00	0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	5.00	0.00	9.00	-	-	-	-	-	-	-	-	-	-
0.00	34.00	0.00	34.00	13.00	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	5.22	0.00	3.04	6.02	8.73	0.00	0.00	0.00	0.00	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	3.40	0.00	6.05	3.75	6.01	0.00	0.00	0.00	0.00	8.62	0.00	0.00	-

minimum:  3.0413812651491097
merged cluster 1:  [3]  <=  3
merged cluster 2:  [2, 6]  <=  10

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8], [3, 2, 6]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	5.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	34.00	0.00	0.00	13.00	-	-	-	-	-	-	-	-	-	-

C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-
0.00	3.40	0.00	0.00	3.75	6.01	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	4.33	0.00	0.00	5.01	7.75	0.00	0.00	0.00	0.00	0.00	0.00	0.00	7.72	-

minimum:  3.400367627183861
merged cluster 1:  [1]  <=  1
merged cluster 2:  [9, 7, 0, 8]  <=  13

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8], [3, 2, 6], [1, 9, 7, 0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	13.00	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-
0.00	0.00	0.00	0.00	5.01	7.75	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	0.00	0.00	0.00	3.22	5.81	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	7.05	-

minimum:  3.2249030993194197
merged cluster 1:  [4]  <=  4
merged cluster 2:  [1, 9, 7, 0, 8]  <=  15

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8], [3, 2, 6], [1, 9, 7, 0, 8], [4, 1, 9, 7, 0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-
0.00	0.00	0.00	0.00	0.00	7.75	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	0.00	0.00	0.00	0.00	5.37	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	6.64	0.00	-

minimum:  5.374838498865699
merged cluster 1:  [5]  <=  5
merged cluster 2:  [4, 1, 9, 7, 0, 8]  <=  16

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8], [3, 2, 6], [1, 9, 7, 0, 8], [4, 1, 9, 7, 0, 8], [5, 4, 1, 9, 7, 0, 8]]
DISTANCES
-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	-	-
0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	0.00	6.55	0.00	0.00	-

minimum:  6.54670989359075
merged cluster 1:  [3, 2, 6]  <=  14
merged cluster 2:  [5, 4, 1, 9, 7, 0, 8]  <=  17

clusters List
[[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [2, 6], [0, 8], [7, 0, 8], [9, 7, 0, 8], [3, 2, 6], [1, 9, 7, 0, 8], [4, 1, 9, 7, 0, 8], [5, 4, 1, 9, 7, 0, 8], [3, 2, 6, 5, 4, 1, 9, 7, 0, 8]]

C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)
C:\Users\Ananya\AppData\Local\Temp\ipykernel_27092\3887233343.py:69: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)