In [1]:
import pandas as pd
import numpy as np

In [3]:
column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE',
                'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
df = pd.read_csv('datasets/housing.csv', header=None, delimiter=r"\s+",
                 names=column_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
X = df.drop(columns=['MEDV'])
y = df['MEDV']

In [5]:
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [6]:
coefficients = [0] * X.shape[1]
intercept = 0

learning_rate = 0.01
epochs = 1000

In [7]:
for epoch in range(epochs):
    z = intercept + X.dot(coefficients)
    y_pred = sigmoid(z)
    error = y - y_pred
    intercept += learning_rate * error.mean()
    for i in range(X.shape[1]):
        coefficients[i] += learning_rate * (error * X.iloc[:, i]).mean()

In [8]:
print("Coefficients:", coefficients)
print("Intercept:", intercept)

Coefficients: [471.5331021830146, 3218.5904150197402, 2093.5116127469996, 18.980583003952308, 114.8990622104749, 1398.1352294960523, 13792.482004940832, 865.5047967549289, 1751.294782608725, 80658.75264822046, 3873.1798270750533, 79598.07674960433, 2241.104945158095]
Intercept: 215.33306324110993

In [9]:
predicted_probabilities = sigmoid(intercept + X.dot(coefficients))
df['Predicted_Probability'] = predicted_probabilities

In [10]:
print(df['Predicted_Probability'])

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
501    1.0
502    1.0
503    1.0
504    1.0
505    1.0
Name: Predicted_Probability, Length: 506, dtype: float64